<!-- this css file gets inlined by the build script to make standalone html5 output
that is why it has a style tag... -->

<style type="text/css">
body
{
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body, p, ul, ol, li, span, div
{
     font-family: "FreeSans", "Helvetica", sans-serif; 
}

aside
{
    width: 40%;
    border: medium solid gray;
    border-radius: 8px;
    padding: .5em;
    margin: .5em;
    margin-right: 0;
    float: right;
    background-color: #F6CCDA;
}

h1,h2,h3,h4,h5 { font-family: Ubuntu, "Gotham", "Futura", "Century Gothic", sans-serif; }

h1{ font-size: 150%;  margin: 0px; margin-top: 2em; }
h2{ font-size: 130%; margin:0; margin-top: 1em; text-transform: uppercase;}
h3{ font-size: 120%; font-weight: bold; }
h4{ font-size: 110%; font-weight: bold; }
h5 { padding: 0; margin: 0; font-size: 100%; font-style: italic; }

h1.title 
{
    margin:0;
    padding:0;
    padding-top: 80px;
    border-style: none;
    background-color: transparent;
    color: black;
    clear: both;
    font-size: 200%;
    font-weight: bold; 
}

h1.title,.rsa-red-text { color: #ab1c19; }
.rsa-red-bg { background-color: #ab1c19; }

pre
{
    border: thin solid gray;
    background: #ededed;
    padding: .5em;
}

dt { font-weight: bold; }
dd p {padding: 0; margin: 0; }


a { text-decoration: none; }
a img { border-style: none; }

table
{
    border-collapse:collapse;
}
table,th, td
{
    border: 1px solid black;
    padding: 0 .5em;
}

tr.odd { background-color: #d3d3d3; }

p
{
    margin: .5em 0;
    line-height: 1.5em;
}

blockquote
{
    line-height: 120%;
    font-size: 90%;
    border-left: 3px solid gray;
    padding-left: 1em;
}

.img-right 
{
    float: right;
    background-color: #d3d3d3;
    padding: .25em;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
}
.img-right img { display: block; margin-bottom: .25em; }
.clear-all {clear: both;}
.warn { color: red; font-weight: bold; text-align: center; }
.center { text-align: center; }
.single, .single p { line-height: 1.25; }

/* hanging indents for references/citations */
#required-books p, #suggested-books p,*[id*='reading'] p, .ref p, *[id*='bibliography'] p
{
    margin-bottom: 1em;
    margin-left: 2em;
    margin-bottom: .25em;
    text-indent: -2em;
    line-height: 1.5em;
}

*[id*='books'] img
{
    max-width: 150px;
    max-height: 150px;
    display: block;
}


.figure
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: .25em 0;
}
.figure svg, .figure img
{
    max-width: 100%;
}
.caption
{
    font-weight: bold; font-size: 80%;
}


@media screen
{
    body
    {
        font-size: 14px;
        width: 1100px;
        margin: 0 auto;
    }

}

nav#TOC
{
    background: none repeat scroll 0 0 white;
    border: 1px solid black;
    counter-reset: toc;
    float: left;
    display: inline-block;
    margin: 1.5em;   
}
#TOC > ul > li 
{ 
    list-style: upper-roman; 
    counter-increment: toc; 
    counter-reset: sub1;
}
/*#TOC>ul>li>ul>li:before { 
    content: counter(toc) "." counter(sub1) " ";
    counter-increment: toc; }*/
#TOC li ul li { list-style: decimal;}

#TOC ul li ul li ul { display: none; }

#TOC h3 { text-align: center; }

footer
{
    border-top: 2px dotted gray;
    margin-top: 1.5em;
}



/** code highlighting stuff **/
td.lineNumbers {
    border-right: 0px none;
}

</style>
