<!-- this css file gets inlined by the build script to make standalone html5 output
that is why it has a style tag... -->

<style type="text/css">
body
{
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body, p, ul, ol, li, span, div
{
     font-family: "FreeSans", "Helvetica", sans-serif; 
}

pre, code, tt, code span, pre span
{
    font-family: "DejaVu Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

aside
{
    border: medium solid gray;
    border-radius: 8px;
    padding: .5em;
    margin: 3em .5em;
    background-color: #F6CCDA;
}

h1,h2,h3,h4,h5 { font-family: Ubuntu, "Gotham", "Futura", "Century Gothic", sans-serif; }

h1{ font-size: 150%;  margin: 0px; margin-top: 2em; }
h2{ font-size: 130%; margin:0; margin-top: 1em; text-transform: uppercase;}
h3{ font-size: 120%; font-weight: bold; }
h4{ font-size: 110%; font-weight: bold; }
h5 { padding: 0; margin: 0; font-size: 100%; font-style: italic; }

h1.title 
{
    margin:0;
    padding:0;
    padding-top: 80px;
    border-style: none;
    background-color: transparent;
    color: black;
    clear: both;
    font-size: 200%;
    font-weight: bold;
    color: #ab1c19;
}

pre
{
    border: thin solid gray;
    background: #ededed;
    padding: .5em;
}

dl { margin-left: 2em; }
dt
{ 
    font-weight: bold; 
    font-size: 115%; 
    margin-top: .5em;
}
dd p {padding: 0; margin: 0; }


a { text-decoration: none; }
a img { border-style: none; }

tr.odd { background-color: #d3d3d3; }

p
{
    margin: .5em 0;
    line-height: 1.5em;
}

blockquote
{
    line-height: 120%;
    font-size: 90%;
    border-left: 3px solid gray;
    padding-left: 1em;
}

@media screen
{
    body
    {
        font-size: 14px;
        width: 900px;
        margin: 0 auto;
    }

}

nav#TOC
{
    background: none repeat scroll 0 0 white;
    border: 1px solid black;
    counter-reset: toc;
    margin: 1.5em;
}

nav#TOC li
{
    list-style: none;
}

#TOC h3 { text-align: center; }



/** code highlighting stuff **/

table.sourceCode, pre.sourceCode
{
    width: 90%;
    margin: 0 auto;
    line-height: 1.15em;
}

td.lineNumbers {
    border-right: 0px none;
    padding-right: 0px;
    margin-right: 0px;
    width: 2em;
    text-align: right;
}

</style>
